body {
    height: 100%;
    font-family: Microsoft YaHei;
}

header {
    background: #FFC866;
    margin: 0;
    padding: 0;
}

#headStyle {
    height: 100px;
}

header div ul {
    clear: both;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}

h3 {
    background: #FFC866;
    width: 98%;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5px;
    margin-left: 20px;
}

h2 {
    text-align: center;
    width: 100%;
    color: #FF9800;
    background: #fff;
    padding-top: 20px;
}

nav ul li {
    float: left;
    width: 20%;
    height: 35px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    display: block;
    height: 25px;
    width: 50%;
    color: #fff;
    padding: 0.3rem;
    margin: 6px auto;
    text-align: center;
    font-size: 20px;
}

.cym {
    border-radius: 20px;
    border: 2px solid #fff;
}

#liwai {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

/*section div{
	width: 100%
}*/
.Con1 {
    margin: 30px auto;
    text-align: center;
    width: 50%;
    line-height: 20pt;
    letter-spacing: 2px;
}

#content {
    height: 250px;
}

#left {
    width: 46%;
    float: left;

}

#middle {
    float: left;
    width: 8%;

}

#right {
    float: right;
    width: 46%;
}

h4 {
    text-align: center;
    color: #FF9800;
}

h4 a {
    text-decoration: none;
    color: #FF9800;
}

footer {
    margin: 0px auto 0px;
    color: #999999;
    font-size: 8px;
}

#left01 {
    float: left;
    width: 48%;
    text-align: right;
}

#righr01 {
    float: right;
    width: 52%;

}

footer a {
    text-decoration: none;
    color: #999999;
    margin-left: 25px;
    padding-left: 30px;
    border-left: 2px solid #D8CBBB;
}

@media only screen and (max-width: 700px) {

}


